*{
    box-sizing:border-box;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Oswald', sans-serif;
}
div#wrapper{
    background-color: rgb(250,241,234);
}
header {
    background-color:black;
    text-align: center;
}
ul{
    margin:0px;
    padding:0px;
}
li{
    background-color:black;
    padding-left:10px;
    text-align: center;

}
li a{
    color: white;
    text-decoration:none;
    font-weight: 700;
}
@media all and (min-width:550px) {
    ul{
        background-color: rgb(128,128,128);
        border-top: 1px solid white;
    }
    li{
        display:inline-block;
        border:none;
    }
}


